/* -----------------HOME--------------- */

// VAR$
$color1: #6b7d4a;

$color2: #f5f5dc;

$color3:#bbc9a2;

$color4:seashell;

$color5: blue;

// PORTADA---------------------------------------------------------------------------
.div__img {
    padding-bottom: 20px;
    max-width: 400px;
    max-height: 400px;
    min-width: 250px;
}

// 
// CARD LANZAMIENTO-------------------------------------------------------------------
.card-body.main__card--bg.row{
    background-color: $color2;
}

// BOTONES YOUTUBE SPOTIFY ------------------------------------------------------------

.btn-group--size {
    width: 90px; 
    display: flex;
    
}

.btn--margin {
    margin: 10px;
    width: 100px;
    text-align: center;
    padding: 0;
    height: 55px;
}

// .div__a {
//     text-decoration: none;
//     font-size: 20px;
//     font-weight: 600;
//     line-height: 40px;   
// }

// .div__a--color1 {
//     color: green;
// }

// .div__a--color1:hover {
//     text-decoration: none;
//     color: black;
//     font-family: 'Mansalva', cursive;  
// }

// .div__a--color2 {
//     color: red;
// }

// .div__a--color2:hover {
//     text-decoration: none;
//     color: white;   
// }

// MAP y EXTEND en BOTONES DE _home.scss y MIXIN y MAP-GET() en boton _noticias.scss

// MAP BOTONES SPOTIFY YOUTUBE ESCUCHAR---------------------

$plataformasdigitales: (
    youtube: red,
    spotify: green,
    escuchar: $color1
    
);

@each $plataformadigital, $color in $plataformasdigitales{
    .btn--#{$plataformadigital} {
        background-color: $color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color2;
        text-transform: uppercase;
        font-weight: 600;
    }        
}

// EXTEND 

.btn--color {
    @extend .btn--spotify; 
    color: black;
    background-color: olivedrab;
}




// reset img map-get--------------------------------
// padding 

// $estilo--h2 : (
//     negrita: 600,
//     fuente: 'Sofia', cursive,
// );

// h2 {
//     font-weight: ($estilo--h2, negrita);
//     font-family: ($estilo--h2, fuente);
// }


// MIXIN 




