/* --blog-- ------------------------------------------------*/

@mixin articulo($background-color, $padding-top){
    background-color: $background-color;
    padding-top: $padding-top;
}

.main__article--bgcolor {
    @include articulo($color2, 1rem)
}



// BOTON
.btn--estrella {
    border-color: black;
    background-color: white;
    
}

.div__a--color3 {
    color: black;
}


