/* --blog-- */


.article__p {
    color: seashell;
}

footer.jumbotron-fluid.container {
    background-color: #f5f5dc;
}


.btn--estrella {
    border-color: black;
    background-color: white;
}

.div__a--color3 {
    color: black;
}


