/* quiero apoyar el proyecto  */

.card-body.row {
    border: none;
    
}

// BOTON PAYPAL

#button {
    background-color: $color5;
    border-radius: 10%;
    border-color: $color4;
    border-style: none;
    max-width: 85px;
    max-height: 37.98px;   



        a {
        color: $color2;
        font-weight: 600;
        }
    }