@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

// SASS-------------------------------------------------------------------------------- 

// PALETA DE COLORES ------------------------------------------------------------------

$color1: #6b7d4a;

$color2: #f5f5dc;

$color3:#bbc9a2;

$color4:seashell;

$color5: blue;


* {
    font-family: 'Catamaran', sans-serif;   
}

body {
    background-color: $color2;
}

// -------------------PARTIALS-----------------------------------------------------------

// MENÚ y FOOTER 
@import "_menu.scss";
@import "_footer.scss";

// Secciones-----------------------------------------------------------------------------

// index
@import "_home.scss";
// contacto
@import "_contacto.scss";
// EPK
@import "_epk.scss";
// musica y videos 
@import "_musica-videos.scss";
// noticias
@import "_noticias.scss";
// quiero apoyar al proyecto
@import "_quiero-apoyar-al-proyecto.scss";


// MEDIAQUERIES---------------------------------------------------------------------------

@import "_mediaqueries.scss";