/* --blog-- ------------------------------------------------*/

@mixin articulo($background-color, $padding-top){
    background-color: $background-color;
    padding-top: $padding-top;
}

.main__article--bgcolor {
    @include articulo($color2, 1rem)
}



// BOTON
.btn--estrella {
    border-color: black;
    background-color: white;
    
}

.div__a--color3 {
    color: black;
}

// map-get()---------------------------------------
$estilos-p: (
    tamaño: 19px,
    color1: #333
);

.article__p--map-get {
    font-size: map-get($estilos-p, tamaño);
    color: map-get($estilos-p, color1);
}