/* --blog-- ------------------------------------------------*/

@mixin articulo($background-color, $padding-top){
    background-color: $background-color;
    padding-top: $padding-top;
}

.main__article--bgcolor {
    @include articulo($color2, 1rem)
}



// BOTON


.div__a--color3 {
    color: $color2;
    max-width: 400px;
    text-decoration: none;

}

// map-get()---------------------------------------
$estilos-p: (
    tamaño: 19px,
    color1: #333
);

.article__p--map-get {
    font-size: map-get($estilos-p, tamaño);
    color: map-get($estilos-p, color1);
}

// CARD BODY
.card-body.d-flex.justify-content-center {
    padding: 0;
}