// TITULOS -----------------------------------------------------------------------

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Mansalva', cursive; 
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
     
}
